/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  line-height: 1.2;
}
blockquote {
  font-size: 3.5rem;
  line-height: 1.2;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
p,
th,
td,
li {
  font-size: 1.6rem;
}
p {
  line-height: 1.3;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
    margin: 0 2.5%;
  }
}
.container .header-info {
  margin: 0.5em 0.5em;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container .header-info {
    order: -1;
  }
}
.container .header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1.6em;
}
@media (max-width: 500px) {
  .container .header-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0.75rem 0;
  }
}
.container .contact-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.container .img-sm {
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .container .img-sm {
    display: none;
  }
}
.container .width {
  width: 90%;
}
@media (max-width: 500px) {
  .container .width {
    display: none;
  }
}
.container .header-bottom {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1.4rem 1.6rem;
}
.container .header-bottom .btn {
  margin-top: 1em;
  background-color: #7ecaf6;
  border-radius: 10px;
  color: #00436A;
  font-size: 2.6rem;
  padding: 1.6rem 4.5rem;
}
.container .header-bottom .btn:hover {
  background-color: #00578A;
  color: #7ecaf6;
  cursor: pointer;
}
@media (max-width: 500px) {
  .container .header-bottom {
    flex-direction: column;
    display: flex;
    order: 5;
  }
}
.container .obj-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .obj-skills .objective {
  width: 48.5%;
}
.container .obj-skills .objective h3 {
  text-align: center;
  padding-bottom: 0.75em;
}
.container .skill-set {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .skill-set h3 {
  padding-bottom: 0.75em;
}
.container .skills li {
  padding: 0.75em;
  border: 1px solid #7ecaf6;
}
.container .skills li:nth-child(even) {
  background-color: #A9DFFF;
}
.container .skills li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container .skills li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container .work-history .work {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.container .work-history h3 {
  text-align: center;
  padding: 0.5rem 0.75rem;
}
.container .education-history .education {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.container .education-history h3 {
  text-align: center;
  padding: 0.5rem 0.75rem;
}
header {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.75em 0;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
  }
}
nav a {
  margin-right: 1rem;
  font-size: 1.8rem;
  color: #00436A;
}
@media (max-width: 500px) {
  nav a {
    padding: 0.5rem 0;
    font-size: 2rem;
    text-decoration: none;
  }
}
nav a:hover {
  color: #7ecaf6;
}
nav a::visited {
  color: red;
}
nav a:last-child {
  margin-right: 3rem;
}
table {
  width: 90%;
}
table td {
  text-align: center;
  padding: 0.5rem 0.75rem;
  padding: 0.75rem;
  vertical-align: top;
}
table tr.tbl-header td {
  background-color: white;
}
table tr.tbl-header td {
  text-align: center;
  padding: 0.5rem 0.75rem;
  text-transform: capitalize;
}
table tr:nth-child(even) {
  background-color: #A9DFFF;
}
footer h4 {
  text-align: center;
  padding: 0.5rem 0.75rem;
  margin-top: 2rem;
}
